@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 45% 94%;
    --foreground: 222 47% 11%;
    --card: 43 45% 94%;
    --card-foreground: 222 47% 11%;
    --popover: 43 45% 94%;
    --popover-foreground: 222 47% 11%;
    --primary: 210 100% 37%;
    --primary-foreground: 43 45% 94%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 210 100% 37%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 43 45% 94%;
    --foreground: 222 47% 11%;
    --card: 43 45% 94%;
    --card-foreground: 222 47% 11%;
    --popover: 43 45% 94%;
    --popover-foreground: 222 47% 11%;
    --primary: 210 100% 37%;
    --primary-foreground: 43 45% 94%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 210 100% 37%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .brand-name,
  .uppercase {
    @apply font-heading;
  }
}
